@font-face {
  font-family: "The Seasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "The Seasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-bd.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "The Seasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-lt.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Multiple Sans Pro";
  src: url("/fonts/Multiple Sans Pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Multiple Sans Pro";
  src: url("/fonts/Multiple Sans Pro Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Multiple Sans Pro";
  src: url("/fonts/Multiple Sans Pro ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  width: 2160px; /* Fixed width for portrait mode */
  height: 3840px; /* Fixed height for portrait mode */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000 0%, #737373 33%, #ffffff 50%, #ffffff 100%);
  font-family: "The Seasons", serif;
  font-size: 16px;
  color: #333;
}

.page-background {
  position: fixed;
  top: -40%; /* Shift the entire background upwards */
  left: -300px; /* Shift slightly to the left */
  width: calc(100% + 600px); /* Extend beyond the viewport horizontally */
  height: calc(100% + 600px); /* Extend beyond the viewport vertically */
  z-index: 0;
  background: url("/images/club-logo.png") center center/contain no-repeat; /* Perfectly center the logo */
  transform: rotate(10deg); /* Rotate the entire background 10 degrees clockwise */
  opacity: 0.1; /* Set transparency */
  pointer-events: none; /* Prevent user interaction */
}

h1, h2, h3 {
  font-family: "The Seasons", serif;
  font-weight: lighter;
  line-height: 181px;
  text-transform: uppercase;
}

p, button, div {
  font-family: "Multiple Sans Pro", sans-serif;
}

.content-wrapper {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.content-wrapper.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}
.content-wrapper.slide-in {
  transform: translateX(0);
  opacity: 1;
}

#trophy-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.trophy-panel {
  flex: 0 0 100vw;
  height: 100vh;
  width: 100vh;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease-in-out;
}
.trophy-panel.left {
  transform: translateX(-100%);
  /*background-color: #0088ff8c;*/
}
.trophy-panel.middle {
  transform: translateX(0);
  /*background-color: #ff006d8c;*/
}
.trophy-panel.right {
  transform: translateX(100%);
  /*background-color: #f2ff008c;*/
}

.keypad-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.keypad-overlay.visible {
  display: flex;
  opacity: 1 !important;
}

.keypad {
  background: black;
  width: 55vw;
  height: 68.75vw;
  padding: 3vw;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 20% auto;
  gap: 2vw;
  border-radius: 0;
}

.keypad-display {
  background: radial-gradient(circle at 0% -59%, black, #2b2b2b 70%, grey 163%);
  border: 4px solid grey;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: white;
  text-align: center;
}

.keypad-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2vw;
}
.keypad-buttons button {
  background: #3e3e3e;
  color: white;
  font-size: 8vw;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keypad-buttons button:hover {
  background: rgb(36.5, 36.5, 36.5);
}
.keypad-buttons button:active {
  background: rgb(87.5, 87.5, 87.5);
}
.keypad-buttons .letter-btn {
  background: #124A63;
}
.keypad-buttons .zero-btn {
  grid-column: span 2;
}
.keypad-buttons .action-btn {
  background: #c0392b;
}

.trophy-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.trophy-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  color: #fff;
  height: 15vh;
}
.trophy-page header .title {
  width: 54vw;
  text-align: center;
}
.trophy-page header .title h1 {
  font-size: 10rem;
  margin: 0;
  padding-top: 4rem;
}
.trophy-page header .qr-code {
  width: 20rem;
}
.trophy-page .content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.trophy-page .content .main-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 4rem;
  height: 40vh;
  flex-shrink: 0;
}
.trophy-page .content .main-content .trophy-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54vw;
  height: 100%;
}
.trophy-page .content .main-content .trophy-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.trophy-page .content .main-content .winner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 4rem;
  width: calc(46vw - 12rem);
  height: 40vh;
}
.trophy-page .content .main-content .winner-info .image-container {
  position: relative;
  height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trophy-page .content .main-content .winner-info .image-container img {
  width: 100%;
}
.trophy-page .content .main-content .winner-info .winners-photo {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: top;
}
.trophy-page .content .main-content .winner-info .details h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.trophy-page .content .main-content .winner-info .details p {
  margin: 0.25rem 0;
}
.trophy-page .content .dynamic-html {
  flex: 1;
  padding: 4rem;
  overflow-y: clip;
  font-size: 3rem;
  text-align: justify;
  font-weight: lighter;
  column-count: 2;
  column-gap: 4rem;
}
.trophy-page .content .dynamic-html padding {
  display: inline-block;
  margin-top: 0px;
}

/*# sourceMappingURL=styles.css.map */
