@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="trophy-container">
    <div class="trophy-panel left" id="panel-1"></div>
    <div class="trophy-panel middle" id="panel-2"></div>
    <div class="trophy-panel right" id="panel-3"></div>
</div>

<!-- Left Arrow -->
<button id="left-arrow" onclick="movePrevious()" style="
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        width: 350px;
        height: 350px;
        border: none;
        border-radius: 50%;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    ">
    <span style="font-size: 24px; font-weight: bold;">&#8592;</span>
</button>

<!-- Right Arrow -->
<button id="right-arrow" onclick="moveNext()" style="
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        width: 350px;
        height: 350px;
        border: none;
        border-radius: 50%;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    ">
    <span style="font-size: 24px; font-weight: bold;">&#8594;</span>
</button>