@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="trophy-container">
    <div class="trophy-panel left" id="panel-1"></div>
    <div class="trophy-panel middle" id="panel-2"></div>
    <div class="trophy-panel right" id="panel-3"></div>
</div>

